<!-- add new home -->

<!-- include header by using partials -->
<%- include('partials/header') %> 
<!-- include nav by using partials as like component -->
<%- include('partials/nav') %>

<h2 style="text-align: center; margin: 20px;">Add Your Home</h2>

<form action="/add-home" method="POST">
    <input type="url" placeholder="upload home image" name="imageUrl" required>
    <input type="text" placeholder="Home Title" name="title" required>
    <input type="text" placeholder="Location" name="location" required>
    <input type="number" placeholder="Price per night" name="price" required>
   
    <button type="submit">Add Home</button>
</form>

</body>
</html>

