<!-- dign up form join new users -->

<!-- include header by using partials -->
<%- include('partials/header') %> 
<!-- include nav by using partials as like component -->
<%- include('partials/nav') %>

<h2>you upload your house successfully</h2>
<h3>thank you for your submission</h3>
<a href="/">go back</a>



</body>
</html>
