
body {
     margin: 0;
     font-family: Arial, sans-serif;
     background-color: #f7f7f7;
  }
 header {
     background-color: #ff385c;
     padding: 15px 40px;
     color: white;
 }
 nav a {
     color: white;
     margin-right: 20px;
     text-decoration: none;
     font-weight: bold;
 }
 .hero {
     text-align: center;
     padding: 80px 20px;
 }
 .hero h1 {
     font-size: 40px;
 }
 .hero p {
     font-size: 18px;
     color: #555;
 }
