<header>
  <nav>
    <a href="/">Home</a>
    <a href="/bookings">Bookings</a>
    <a href="/favourite-list">Favourite List</a>
    <a href="/host/host-home-list">Host Home</a>
    <a href="/host/add-home">Add Home</a>
  </nav>
</header>
