<!-- include header by using partials -->
<%- include('partials/header') %> 
<!-- include nav by using partials as like component -->
<%- include('partials/nav') %>

    <div class="error-container">
        <h1 class="error-code">404</h1>
        <h2 class="error-title">Page Not Found</h2>
        <p class="error-message">
            Oops! The page you are looking for doesn’t exist or has been moved.
        </p>

        <a href="/" class="error-back-btn">Go Back Home</a>
    </div>

</body>
</html>
